<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'UniversalGalleryDemo' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>c76c0dc6-bdb2-4bb4-aec5-007467b82186</InstrumentationKey>
</ApplicationInsights>